<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpg' %>
  </div>

  <div id="content">
    <h1>I'm Mherion</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, magnam tenetur doloremque porro itaque qui maiores earum nemo sunt in nostrum ipsam, nisi culpa ratione accusantium velit modi quas nesciunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt deleniti delectus quibusdam harum ullam rerum consectetur sapiente. Consequatur et tenetur quis incidunt ullam, eius sequi sunt eaque fugit deleniti sed!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti eligendi sit dolores impedit assumenda, tempore similique ea, quas autem voluptatum id expedita quia, vero accusamus dolor fugit explicabo aut doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ut architecto mollitia assumenda est vero iure natus velit, vel ab, sed facilis veritatis laudantium aliquid provident autem similique beatae? Rem!
    </p>
  </div>
</div>
